.download {
  display: flex;
  flex-direction: column;
}
.download__slogan {
  display: none;
  width: 186px;
  margin: 0;
  color: #ffffff;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
}
@media (min-width: $tablet-version) {
  .download__slogan {
    display: inline-block;
    line-height: 49px;
    letter-spacing: -1px;
  }
}
@media (min-width: $desktop-version) {
  .download__slogan {
    width: 300px;
    font-size: 50px;
    font-weight: 300;
    line-height: 60px;
  }
}
