.footer__logo {
    margin: auto;
    width: 147px;
    height: 40px;
    background: url(../img/logo-pink-blue-mobile.svg) no-repeat;
  }
@media (min-width: $tablet-version) {
  .footer__logo {
    margin: 0;
  }
}
.footer--index-page {
  display: none;
}
@media (min-width: $tablet-version) {
  .footer {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
