.footer__logo {
  margin: auto;
  width: 147px;
  height: 40px;
  background-image: url("../img/logo-pink-blue-mobile.svg");
  background-repeat: no-repeat;

  &:hover {
    background-image: url("../img/logo-pink-blue-mobile-hover.svg");
  }

  &:active {
    background-image: url("../img/logo-pink-blue-mobile.svg");
    opacity: 0.3;
  }
}

@media (min-width: $tablet-version) {
  .footer__logo {
    margin: 5px 0;
    align-self: flex-start;
  }
}

@media (min-width: $desktop-version) {
  .footer__logo {
    background-image: url("../img/logo-pink-blue-desktop.svg");
    background-repeat: no-repeat;

    &:hover {
      background-image: url("../img/logo-pink-blue-desktop-hover.svg");
    }

    &:active {
      background-image: url("../img/logo-pink-blue-desktop.svg");
      opacity: 0.3;
    }
  }
}

.footer--index-page {
  display: none;
}

@media (min-width: $tablet-version) {
  .footer {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 70px;
  }
}
