.history {
  @include flex-column;
  align-items: center;
  padding-top: 43px;
  margin-bottom: 20px;
}

.history__author {
  margin-bottom: 15px;
}

.history__author-name {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.history__author-data {
  display: none;
  text-align: center;
}

.history__text {
  width: 283px;
  text-align: center;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 33px;
}

.history__navigation {
  @include flex-row;
  justify-content: space-between;
  width: 60px;
}

.history__navigation-svg {
  fill: #bec3c7;

  &:hover {
    fill: #7e868f;
  }

  &:active {
    fill: #e9ebec;
  }

  &--active {
    fill: #ffffff;
    stroke: #283645;

    &:hover {
      fill: #ffffff;
      stroke: #283645;
    }
  }
}
