.social {
  display: flex;
  justify-content: center;
}
.social__twitter {
  @include social-icon-size;
}
.social__facebook {
  @include social-icon-size;
  margin-left: 18px;
  margin-right: 18px;
}
.social__youtube {
  @include social-icon-size;
}
