.why-pink {
  background-color: #f2f2f2;
}
.why-pink__questions-list {
  min-width: 100%;
  background-color: #ffffff;
}
.why-pink__question {
  text-align: center;
  color: #283645;
  font-size: 24px;
  font-weight: 300;
}
@media (min-width: $tablet-version) {
  .why-pink__question {
    font-size: 40px;
  }
}
@media (min-width: $desktop-version) {
  .why-pink__question {
    font-size: 50px;
  }
}
.why-pink__gradient-separator {
  min-width: 100%;
  min-height: 90px;
  background: linear-gradient(175deg, #fff 0px, #fff 50px, #f2f2f2 50px, #f2f2f2 100px);
}
@media (min-width: $tablet-version) {
  .why-pink__gradient-separator {
    background: linear-gradient(177deg, #fff 0px, #fff 50px, #f2f2f2 50px, #f2f2f2 100px);
  }
}
@media (min-width: $desktop-version) {
  .why-pink__gradient-separator {
    background: linear-gradient(176deg, #fff 0px, #fff 100px, #f2f2f2 100px, #f2f2f2 200px);
  }
}
.why-pink__benefits-list {
  list-style: none;
}
.why-pink__benefit-header {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}
@media (min-width: $desktop-version) {
  .why-pink__benefit-header {
    font-size: 30px;
    line-height: 30px;
  }
}
.why-pink__benefit-paragraph {
  color: #283645;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}
@media (min-width: $tablet-version) {
  .why-pink__benefit-paragraph {
    text-align: left;
  }
}
@media (min-width: $desktop-version) {
  .why-pink__benefit-paragraph {
    font-size: 18px;
    text-align: center;
  }
}
.why-pink__benefits-image {
  width: 157px;
  height: 320px;
  background: url(../img/iphone-screen-mobile@1x.png) no-repeat  center 45px;
}
@media (min-width: $tablet-version) {
  .why-pink__benefits-image {
    width: 268px;
    height: 481px;
    background: url(../img/iphone-screen-3-tablet@1x.png) no-repeat  center top;
  }
}
@media (min-width: $desktop-version) {
  .why-pink__benefits-image {
    width: 100%;
    height: 302px;
    background: url(../img/iphone-screen-1-desktop@1x.png) no-repeat  left top,
                url(../img/iphone-screen-2-desktop@1x.png) no-repeat  center top,
                url(../img/iphone-screen-3-desktop@1x.png) no-repeat  right top;
  }
}
.why-pink__last-benefit {
  display: none;
  color: #283645;
  background-color: #ffffff;
}
@media (min-width: $tablet-version) {
  .why-pink__last-benefit {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: $desktop-version) {
  .why-pink__last-benefit {
    background-color: #f2f2f2;
    font-size: 18px;
  }
}
.why-pink__last-benefit-header {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}
.why-pink__last-benefit-image {
  position: relative;
  width: 238px;
  height: 276px;
}
@media (min-width: $desktop-version) {
  .why-pink__last-benefit-image {
    width: 298px;
    height: 345px;
  }
}
@media (min-width: $desktop-version) {
  .why-pink__last-benefit-svg {
    width: 298px;
    height: 345px;
  }
}
.why-pink__24hours {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -40px;
  left: 19px;
  box-sizing: border-box;
  width: 202px;
  height: 202px;
  color: #d22856;
  font-size: 96px;
  font-weight: 700;
  line-height: 149.47px;
  border-radius: 100%;
  border: 13px solid #d22856;
}
@media (min-width: $desktop-version) {
  .why-pink__24hours {
    top: -50px;
    left: 22px;
    width: 253px;
    height: 253px;
    font-size: 120px;
    border-width: 18px;
  }
}
.why-pink__last-benefit-link {
  color: #d22856;
}
