.button {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
  border: 3px solid #ffffff;
  border-radius: 35px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 17px;
  padding-bottom: 16px;
}
