@mixin background-image {
  min-width: 320px;
  box-sizing: border-box;
  background-color: #283645;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  &--index-page {
    min-height: 462px;
    background: url(../img/iphone-hand-mobile@1x.png) no-repeat left 176px,
    url(../img/bg-back-mobile@1x.jpg) no-repeat center top;
    @include background-image;
  }
  &--form-page {
    background: url(../img/bg-back-mobile@1x.jpg) no-repeat top center;
    @include background-image;
  }
  &--photo-page {
    background: url(../img/bg-back-mobile@1x.jpg) no-repeat top center;
    @include background-image;
  }
}
.description__signature {
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  margin: 0;
}
