.why-pink {
  background-color: #f2f2f2;
}
.why-pink__questions-list {
  background-color: #ffffff;
}
.why-pink__question {
  text-align: center;
  color: #283645;
  font-size: 24px;
  font-weight: 300;
}
.why-pink__benefits-list {
  list-style: none;
}
.why-pink__benefit-header {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}
.why-pink__benefit-paragraph {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}
.why-pink__image {
  width: 157px;
  height: 320px;
  background: url(../img/iphone-screen-mobile@1x.png) no-repeat  center 45px;
}
